.car--inner{
  position: fixed;
  width: 270px;
  height: 500px;
  background-color: #ffffffe9;
  left: 0;
  top: 90px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  z-index: 2;
  overflow-y: scroll;
}

.display--arrow{
  position: fixed;
  display: flex;
  width: 30px;
  height: 50px;
  left: 270px;
  top: 100px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: #1DA1F2;
}

.display--arrow:hover{
  cursor: pointer;
}

.car--product{
  position: relative;
  width: 100%;
  display: flex;
}

.car--product > img{
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 2%;
  margin-left: 2%;
}

.car--data {
  position: relative;
  gap: 10px;  /* Add some spacing between elements for readability */
  color: black;
  margin-top: 2%; 
  margin-left: 2%;

}

.car--data h5, .car--data h6 {
  margin: 0;
}

.car--delete{
  position: absolute;
  color: #808080;
  right: 5px;
  top: 5px;
}

.car--delete:hover{
  cursor: pointer;
  color: red;
}